@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}
body { background-color: #eceff1; box-sizing: border-box; font-family: 'ProximaNova', sans-serif; }
body div.overlay { display: none; z-index: 9999; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }

* { box-sizing: inherit; outline: none; }

main { position: relative; }

main .white_wrap { background-color: #fff; }

.handly_button { height: 48px; line-height: 48px; border-radius: 40px; text-transform: uppercase; color: #000; font-size: 13px; font-weight: bold; padding: 0 34px; background: right 24px center no-repeat transparent; border: 1px solid #dbe0e3; display: inline-block; text-decoration: none; }
.handly_button:hover { color: #fff; background-color: #ff87aa; border-color: #ff87aa; }
.handly_button.arrow { padding-right: 48px; background-image: url('/img/arrow_right.png') ; }
.handly_button.arrow:hover { background-image: url('/img/arrow_right_white.png'); }

.container { margin: 0 auto; max-width: 1200px; min-width: 310px; width: auto; position: relative; }
.container.padding { padding-left: 0.75rem; padding-right: 0.75rem; }


header { position: relative; }
header .header__top { background-color: #263238; font-size: 0; line-height: 70px; }
header .header__top a.logo { vertical-align: middle; display: inline-block; height: 70px; line-height: inherit; }
header .header__top a.logo img { vertical-align: middle; }

header .header__top nav.header__nav { vertical-align: middle; display: inline-block; background: transparent; width: auto; box-shadow: none; height: auto; padding: 0 40px; }
header .header__top nav.header__nav a { vertical-align: middle; padding: 0 20px; display: inline-block; font-size: 14px; font-weight: 300; line-height: inherit; }
header .header__top nav.header__nav a:hover { color: #ff84a8; }

header .header__top .header__nav__user { float: right; line-height: inherit; }
header .header__top .header__nav__user a { vertical-align: middle; display: inline-block; font-size: 14px; font-weight: 700; line-height: inherit; color: #fff; }
header .header__top .header__nav__user a.main_link { padding-left: 35px; background: url('/img/user.png') left center no-repeat transparent; margin-right: 30px; }
header .header__top .header__nav__user a.main_link:first-child { background-image: url('/img/bag.png'); }
header .header__top .header__nav__user a.main_link:hover { color: #ff84a8; }

header .header__top .header__nav__user a.fast_link { background: url('/img/heart.png') center no-repeat transparent; width: 30px; height: 30px; margin: 0 15px; border-radius: 50%; position: relative; }
header .header__top .header__nav__user a.fast_link:after { display: block; content: attr(data-quantity); font-size: 11px; width: 16px; height: 16px; line-height: 16px; text-align: center; position: absolute; top: -8px; right: -8px; background-color: #334148; border-radius: 50%; }
header .header__top .header__nav__user a.fast_link[data-quantity=""]:after { display: none;}
header .header__top .header__nav__user a.fast_link[data-quantity=""]:hover { background-color: rgba(255, 255, 255, 0.2); }
header .header__top .header__nav__user a.fast_link:last-child { background-image: url('/img/cart.png'); }
header .header__top .header__nav__user a.fast_link:hover:after { background-color: #ff84a8; }

header .header__second { background-color: #ffffff; font-size: 0;  line-height: 90px; }
header .header__second>.container { position: static; }
header .header__second a.burger { height: 50px; width: 50px; background: url('/img/burger.png') center no-repeat; border: 1px solid #e5e5e5; border-radius: 50%; font-size: 13px; line-height: inherit; font-weight: 700; text-transform: uppercase; vertical-align: middle; display: inline-block; }
header .header__second .catalog__menu { display: inline-block; padding: 0 10px; position: relative; z-index: 99999; }
header .header__second .catalog__menu>a.main_link { padding: 0 22px; color: #000; line-height: inherit; vertical-align: middle; display: inline-block; font-size: 13px; font-weight: 700; text-transform: uppercase; }
header .header__second .catalog__menu>a.main_link.active { background-color: #fff; }

header .header__second .catalog__menu__sub { display: none; z-index: 99999; width: 90%; max-width: 1240px; padding: 50px 50px 130px; position: absolute; top: 100%; left: 0; right: 0; margin: 0 auto; background-color: #ffffff; }
header .header__second .catalog__menu__sub.active { display: block; }
header .header__second .catalog__menu__sub .heading { padding-bottom: 50px; font-size: 16px; font-weight: bold; height: 20px; line-height: 20px; }
header .header__second .catalog__menu__sub .handly_button { position: absolute; bottom: 50px; }
header .header__second .catalog__menu__sub .links a { display: block; color: #000; line-height: 36px; font-size: 14px; font-weight: bold; }
header .header__second .catalog__menu__sub .links a span { color: #a5a5a5; font-weight: 300; }
header .header__second .catalog__menu__sub .masters>a { display: block; clear: both; min-height: 80px; }
header .header__second .catalog__menu__sub .masters>a img { width: 70px; height: 70px; margin-right: 25px; float: left; }
header .header__second .catalog__menu__sub .masters>a span { color: #000; line-height: 32px; font-size: 16px; font-weight: bold; display: block; }
header .header__second .catalog__menu__sub .masters>a span+span { font-size: 14px; font-weight: 300; color: #a5a5a5; }

header .header__second #main__search { display: inline-block; overflow: hidden; border-radius: 50px; height: 48px; width: 340px; line-height: 50px; vertical-align: middle; position:relative }
header .header__second #main__search input[type=text] { box-sizing: border-box; background-color: #f5f7f8; border-radius: 50px; border: 2px solid #f5f7f8; box-shadow: none; padding: 0 60px 0 20px; width: 100%; margin: 0; }
header .header__second #main__search input[type=text]:active,
header .header__second #main__search input[type=text]:focus { background-color: #ffffff; }
header .header__second #main__search input[type=submit] { padding: 0; position: absolute; top: 0; right: 0; width: 60px; height: 48px; background: url('/img/magnifier.png') center center no-repeat; border: none; }


main #main_slider { height: 560px; width: 100%; display: block; overflow: hidden; margin: 0; position: relative; }
main #main_slider .slide { padding-top: 90px; height: 100%; width: 100%; display: block; position: absolute; background: center #fff; }
main #main_slider .slide .main_text { font-size: 84px; font-weight: bold; line-height: 80px; padding-bottom: 50px; }
main #main_slider .slide .secondary_text { font-size: 16px; font-weight: 300; line-height: 24px;}


main .main_categories_list { padding-top: 110px; padding-bottom: 10px; margin: 0 -0.9rem; }
main .main_categories_list:after { clear: both; display: table; content: ''; }
main .main_categories_list .main_category_item { display: block; position: relative; text-decoration: none; float: left; width: 274px; height: 274px; background: center/cover no-repeat; margin: 0.9rem; overflow: hidden; }
main .main_categories_list .main_category_item.text_item span.heading { font-size: 42px; line-height: 40px; font-weight: 700; padding-bottom: 20px; display: block; }
main .main_categories_list .main_category_item.text_item span.description { font-size: 16px; line-height: 28px; font-weight: 300; }
main .main_categories_list .main_category_item .main_category_name { position: absolute; bottom: 0; left: 0; height: 40px; line-height: 40px; background: #fff; color: #000; padding: 0 20px; font-size: 13px; font-weight: 700; text-transform: uppercase; }

main .main_products_list { padding-top: 100px; padding-bottom: 10px; margin-bottom: 0; }
main .main_products_list:after { clear: both; display: table; content: ''; }
main .main_products_list .main_product_item { display: block; position: relative; text-decoration: none; float: left; width: 100%; height: auto; margin-bottom: 22px; overflow: hidden; }
main .main_products_list .main_product_item .main_product_image { display: block; text-decoration: none; width: 100%; height: 210px; background: center/cover no-repeat lightgray; }
main .main_products_list .main_product_item.text_item span.heading { font-size: 42px; line-height: 40px; font-weight: 700; padding-bottom: 20px; display: block; }
main .main_products_list .main_product_item.text_item span.description { font-size: 16px;line-height: 24px; font-weight: 300; color: #553831; }
main .main_products_list .main_product_item.text_item span.description + .handly_button { margin-top: 16px; }
main .main_products_list .main_product_item .main_product_item_footer { padding: 0 10px 0 20px; }
main .main_products_list .main_product_item .main_product_name { display: block; height: 80px; padding: 30px 0 0; line-height: 22px; background: #fff; color: #000; font-size: 16px; font-weight: 700; }
main .main_products_list .main_product_item .shop_and_city { padding-bottom: 15px; display: block; font-size: 14px; color: #a3a3a3; text-decoration: none; }


main .main_products_list .main_product_item .main_product_item_controls {  position: relative; font-size: 0; text-align: right; }
main .main_products_list .main_product_item .price,
main .main_products_list .main_product_item .favorite,
main .main_products_list .main_product_item .add_to_cart { text-decoration: none; display: inline-block; height: 50px; width: 50px; line-height: 50px; vertical-align: middle; }

main .main_products_list .main_product_item .favorite { background: url('/img/favorite.png') center center no-repeat transparent; }
main .main_products_list .main_product_item .favorite:hover,
main .main_products_list .main_product_item .favorite.in-favorites { background-image: url('/img/favorite-checked.png'); }

main .main_products_list .main_product_item .add_to_cart { margin-left: 10px; background: url('/img/product-cart.png') center center no-repeat transparent; }
main .main_products_list .main_product_item .add_to_cart:hover,
main .main_products_list .main_product_item .add_to_cart.in-cart { background-image: url('/img/product-cart-full.png'); }

main .main_products_list .main_product_item .price { width: auto; position: absolute; left: 0; font-size: 20px; font-weight: bold; }
main .main_products_list .main_product_item .price span { vertical-align: middle; font-weight: bold; font-size: 18px; }


main .home_sale_with_us { padding: 150px 0; }
main .home_sale_with_us .form { color: #fff; height: 238px; background: url('/img/form-bg.png') center center/cover no-repeat; }
main .home_sale_with_us .form .heading { font-size: 44px; line-height: 40px; font-weight: bold; padding-top: 55px; padding-bottom: 30px; }
main .home_sale_with_us .form .description { font-size: 16px; line-height: 28px; }
main .home_sale_with_us .form .handly_button { color: #fff; border-color: #fff; float: right; }
main .home_sale_with_us .form .handly_button:hover { background: #fff; color: #ff84a8; }


main .main_best_masters { padding-bottom: 140px; }
main .main_best_masters .heading { font-size: 40px; line-height: 40px; font-weight: bold; }
main .main_best_masters .description { padding-top: 34px; font-size: 16px; line-height: 28px; }
main .main_best_masters .handly_button { border-color: #ff84a8; margin-top: 40px; }
main .main_best_masters .handly_button:hover { color: #fff; background-color: #ff84a8; }

main .main_best_masters .main_best_masters_slider { margin: 0; padding-top: 80px; position: relative; }
main .main_best_masters .main_best_masters_slider li .slide_inset_wrap { max-width: 170px; margin: 0 auto; }
main .main_best_masters .main_best_masters_slider li .image { background-color: #f9fafb; margin-bottom: 30px; }
main .main_best_masters .main_best_masters_slider li span { display: block; padding-left: 20px; }
main .main_best_masters .main_best_masters_slider li .name { font-weight: bold; font-size: 16px; line-height: 16px; margin-bottom: 20px; }
main .main_best_masters .main_best_masters_slider li .city { color: #a3a3a3; font-size: 14px; line-height: 14px; }


main .main_best_masters .main_best_masters_slider .slick-arrow { position: absolute; right: 0; top: 0; border: 1px solid #e7eaec; background: url('/img/arrow_right.png') center center no-repeat transparent; width: 50px; height: 50px; border-radius: 50%; }
main .main_best_masters .main_best_masters_slider .slick-arrow:hover { background-image: url('/img/arrow_right_white.png'); background-color: #ff84a8; }
main .main_best_masters .main_best_masters_slider .slick-prev.slick-arrow { background-image: url('/img/arrow_left.png'); right: 70px; }
main .main_best_masters .main_best_masters_slider .slick-prev.slick-arrow:hover { background-image: url('/img/arrow_left_white.png'); }


main .main_bottom_form { background: no-repeat #fee6da; font-size: 16px; line-height: 28px; }
main .main_bottom_form > .container { padding: 60px 0;  }
main .main_bottom_form > .container .heading { font-weight: bold; font-size: 40px; line-height: 48px; padding-bottom: 45px; }
main .main_bottom_form > .container .star-list-heading { color: #ddad95; padding: 30px 0 0 60px; }
main .main_bottom_form > .container ul.star-list { margin: 0; }
main .main_bottom_form > .container ul.star-list li { line-height: 50px; padding-left: 60px; background: url('/img/list-star.png') left center no-repeat; }
main .main_bottom_form > .container textarea { margin-bottom: 10px; min-height: 110px; background-color: #fff; border: none; border-radius: 5px; resize: none; }
main .main_bottom_form > .container label { color: #000; }
main .main_bottom_form > .container .handly_button { margin-top: 30px; color: #fff; background-color: #ff84a8; border-color: #ff84a8; }
main .main_bottom_form > .container .handly_button:hover { background-color: transparent; color: #ff84a8; }

footer { padding: 70px 0; }
footer .main_footer_links a { display: block; font-size: 13px; text-transform: uppercase; text-decoration: none; line-height: 40px; color: #000; font-weight: bold; }
footer .main_footer_links a:hover { text-decoration: underline; }
footer .col.social { padding-top: 34px; color: #969899; }
footer .social .links { font-size: 0; margin: 0 -10px; padding-top: 26px; }
footer .social .links a { background: url('/img/fb.png') center center no-repeat transparent; border-radius: 50%; width: 50px; height: 50px; display: inline-block; margin: 0 10px; }
footer .social .links a.vk { background-image: url('/img/vk.png'); }
footer .social .links a.ig { background-image: url('/img/ig.png'); }
footer .social .links a:hover { background-color: #fff; }
footer .social .handly_button { margin-top: 25px; }
footer .vk .heading,
footer .ig .heading { height: 34px; font-size: 13px; font-weight: bold; text-transform: uppercase; }






















input[type="checkbox"].handly-checkbox+label:before { margin: 0; background: #fff; border: none; width: 20px; height: 20px; border-radius: 3px; }
input[type="checkbox"].handly-checkbox:checked+label:before { background: url('/img/checked-box.png') center center #fff no-repeat; top: 0; left: 0; transform: none; }


/**/
