@import 'helpers'


$orange = #f5a49e;
$link = #f5a49e;
$background = #f5a49e;
$gray = #f9f9f9;



a
  color $link;
  cursor pointer

h1
  font-size 32px

h2
  font-size 22px

body
  //font-family Lato, sans-serif
  font-weight 400;
  font-size 16px;

body.page-home
  #page_content
    padding-top 0px;

.v-middle
  vertical-align middle

/* STICKY FOOTER >> */

html, body
  height: 100%;

#page_wrap
    min-height: 100%;
    margin-bottom: -90px;
    padding-bottom 30px;

#page_wrap:after
  content: "";
  display: block;

footer, #page_wrap:after
  height: 90px;

footer
  font-weight 300;
  color #a2a2a2;
  border-top: 1px solid #dcdcdc;
  padding-top 30px;
/* << STICKY FOOTER */

#page_content
  padding-top 30px;
  padding-bottom 30px;

.content
  max-width 980px;
  min-width 32px;
  margin 0 auto;

.logo
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-anchor: middle;
  font-size: 35px;
  vertical-align: middle;
  text-decoration: none;
  margin-top 5px
  color: $orange;
  img
    width 100%
    vertical-align middle;

.header
  &__main
    border-bottom 1px solid #dcdcdc;
    padding  8px 0;
    background #f9f9f9;
  &__top
    padding: 3px 0;
    a
      font-size 13px;
      line-height 32px
    &__links
      color: $link;
      padding 0px 10px;


.main_banner
  height 340px;
  background: url('/img/bg-yarn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom 20px;
  color: #fff;
  text-align center
  padding-top 100px;
  &__header
    font-size: 40px;
    margin-bottom 20px;
  &__small
    font-size: 20px;

.subsection
  margin-left 20px
  list-style-type none

.top_catalog_links
  text-align left
  padding-top 20px!important
  position relative
  z-index 500

.top_catalog_links a
  padding-left 20px
  padding-right 15px

.top_catalog_links:hover .top_menu_ul
  display block

.top_search
  padding-top: 10px
  &__button
    padding-top 20px!important
  &__form
    margin-bottom 0px


.top_catalog_links  ul
  display none

.top_menu_ul
  position absolute
  top 40px
  left 10px
  width 300px
  background #fff
  border 1px solid $link

.top_menu_ul a
  font-size 13px;

.top_basket
  color: $link
  padding-top: 20px!important
  text-align right


.index_category
  position relative
  margin-bottom 10px
  &__img
    width 100%
  &__link
    text-align center
    position absolute
    bottom 6px
    width 91%
    padding 10px
    background rgba(227,228,229,0.85)
    color #000000

.one_product_list

  //height: 240px

.personal_catalog_menu a
  font-size 13px

.personal_product_list th, .personal_product_list td
  font-size 13px

.personal_product_list tr:nth-child(odd) td
  background $gray

.pagination .active span
  padding: 0 10px;
  line-height 30px

.banner2
  background url("/img/banner.jpg") !important

.img-contain img
  width 100%

.edit_form__image
  margin-bottom 20px;

.personal_right
  border-left 1px solid #efefef
  padding-left 30px!important

.personal_left__menu a
  display block
  padding 10px
  font-size 13px
  border-bottom 1px solid #efefef

.personal_left__menu a.active, .personal_left__menu a:hover
  background $link
  color #fff

.header_personal_photo
  float right
  height 30px
  width 30px;
  background-size contain
  background-position center center
  border-radius 50%
  overflow hidden
  margin-left 20px

.personal_photo img
  width 100%

.one_product_list a.in-cart{
  color: #15b33b;
}
.top_basket
  position relative

.top_basket a span
  position: absolute;
  color: #f5a49e;
  top: 10px;
  right: 0px;

  &__image img
    max-height 100%
    width auto
    max-width 100%

  &__name
    text-align center
    margin-top 10px

  &__price
    margin-top 10px;
    text-align center

.cart_product

  &__images img
    width 100%

.small_seo_text
  font-size 14px;

.big_seo_text
  margin-top 20px;
  font-size 14px;

  .one_product_list a.in-cart{
    color: #15b33b;
  }
.top_basket
  position relative

.top_basket a span
  position: absolute;
  color: #f5a49e;
  top: 10px;
  right: 0px;

.cart__list__img img
  max-width: 75px;
  height auto


#ajax_cart
  position: fixed;
  right: 0px;
  top: 32px;
  background #f9e1df;
  padding 10px;
  padding-bottom 3px
  padding-right 13px
  border-top-left-radius 10px
  border-bottom-left-radius 10px

#ajax_cart span
  position: absolute;
  right: 3px;
  top: 1px;
  color: black;

.cart__list
  margin-bottom 40px;


.cart__list__quantity
  position: relative
  padding-right 20px
  padding-left 10px

.cart__list__quantity input
  text-align center
  margin-bottom 0 !important;

.cart__list__quantity__up
  position absolute
  right: 0
  top: 0
.cart__list__quantity__down
  position absolute
  right: 0
  top 25px


  /* REGISTER PAGE */

.page-register_page
  padding-right: 50%
  height: 100%;

.b_register
  background #fff
  height 100%;
  padding-top 75px
  padding-left: 20%
  &__logo
    padding-bottom 105px;

.b_register__bg
  width 50%;
  height: 100%;
  position fixed
  top: 0
  right: 0
  background #f6b2cb url("/img/register_bg.png") center center no-repeat
  background-size cover

.form
  font-family: 'ProximaNova', sans-serif;
  &__header
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    padding-bottom 25px;
